@model OrderProductServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h4>Product: @Model.ProductId</h4>
            <br />
        </div>
    </div>
</div>