@{
    ViewBag.Title = "Add Guitar";
}

<h2 class ="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_GuitarFormPartial" model="@Model" />

@section Scripts{
        <partial name="_ValidationScriptsPartial" />
}